doctype html 
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title タイトル
    meta(name="description" content="マークアップ練習")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

body.accordion
  .base 
    .main-title 募集職種
    ul.menu 
      li 
        .content
          p.contentTxt １．Weディレクター
        .contentDetail 
          dl 
            dt 仕事内容
            dd テキストテキストテキストテキスト
            dt 応募資格
            dd テキストテキストテキストテキスト
            dt 必須スキル
            dd テキストテキストテキストテキスト
            dt 給与
            dd XXX万～XXX万 (スキル・経験・実績により優遇)
            dt 休日・休暇
            dd 土日祝祭日、有給休暇、夏季休暇、年末年始休暇、産前産後休暇、育児休暇
            dt 雇用形態
            dd 正社員（試用期間3ヶ月）
              br
              | 業務委託
            dt 勤務時間
            dd フレックスタイム
            dt 勤務地
            dd 東京
            
      li 
        .content
          p.contentTxt ２．Webデザイナー
        .contentDetail 
          dl 
            dt 仕事内容
            dd テキストテキストテキストテキスト
            dt 応募資格
            dd テキストテキストテキストテキスト
            dt 必須スキル
            dd テキストテキストテキストテキスト
            dt 給与
            dd XXX万～XXX万 (スキル・経験・実績により優遇)
            dt 休日・休暇
            dd 土日祝祭日、有給休暇、夏季休暇、年末年始休暇、産前産後休暇、育児休暇
            dt 雇用形態
            dd 正社員（試用期間3ヶ月）
              br
              | 業務委託
            dt 勤務時間
            dd フレックスタイム
            dt 勤務地
            dd 東京
      li 
        .content
          p.contentTxt ３．プログラマー
        .contentDetail 
          dl 
            dt 仕事内容
            dd テキストテキストテキストテキスト
            dt 応募資格
            dd テキストテキストテキストテキスト
            dt 必須スキル
            dd テキストテキストテキストテキスト
            dt 給与
            dd XXX万～XXX万 (スキル・経験・実績により優遇)
            dt 休日・休暇
            dd 土日祝祭日、有給休暇、夏季休暇、年末年始休暇、産前産後休暇、育児休暇
            dt 雇用形態
            dd 正社員（試用期間3ヶ月）
              br
              | 業務委託
            dt 勤務時間
            dd フレックスタイム
            dt 勤務地
            dd 東京