doctype html 
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title COFFEE 
    meta(name="description" content="マークアップ練習")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="shortcut icon" href="../img_cafe_favicon.ico")

body.cafe 
  header#header
    nav
      ul
        li 
          a(href="#") MENU     
        li
          a(href="#") ABOUT
        li 
          a(href="#") LOCATION 
    h1.main-title COFFEE
  
  main 
    .menu 
      .menu-image
        h2.section-title MENU 
      .mainContainer
        .menu-item
          h2.menu-title COFFEE 
          dl 
            dt XXXXXXXX 
            dd ￥500
            dt XXXXXXXX 
            dd ￥500
            dt XXXXXXXX 
            dd ￥500
            dt XXXXXXXX 
            dd ￥500
            dt XXXXXXXX 
            dd ￥500
            dt XXXXXXXX 
            dd ￥500
            dt XXXXXXXX 
            dd ￥500
            dt XXXXXXXX 
            dd ￥500
            dt XXXXXXXX 
            dd ￥500
            dt XXXXXXXX 
            dd ￥500
        .menu-item 
            h2.menu-title FOOD 
            dl
              dt XXXXXXXX 
              dd ￥500
              dt XXXXXXXX 
              dd ￥500
              dt XXXXXXXX
              dd ￥500
            h2.menu-title OTHER 
            dl 
              dt XXXXXXXX 
              dd ￥500
              dt XXXXXXXX 
              dd ￥500
              dt XXXXXXXX 
              dd ￥500
        