doctype html 
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Snerkers
    meta(name="description" content="マークアップ練習")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

body.media 
  header#header 
    h1.site_title 
      a(href="#") 
        img(src=("../img/img_media_logo.svg"), alt="Sneakers")
    nav#navi
      ul.nav_menu 
        li 
          a(href="#pickup") PICK UP
        li
          a(href="#feature") FEATURE
        li
          a(href="#contact") CONTACT
      ul.navi_snsMenu
        li
          a(href="https://twitter.com/" target="_blank") Twitter
        li
          a(href="https://www.facebook.com/" target="_blank") facebook
        li
          a(href="https://www.instagram.com/" target="_blank") instagram
    
    .navi_toggle
      div 
      div 
      div
    .shadow 
  
  main#main 
    .main_video
      video(src=("../video/video.mp4") loop autoplay muted playsinline) 