doctype html 
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Snerkers
    meta(name="description" content="マークアップ練習")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

body.media 
  header#header 
    h1.site-title 
      a(href="#") 
        img(src=require("~/img/img_media_logo.svg"), alt="Sneakers")
    nav#navi
      ul.nav-menu 
        li 
          a(href="#pickup") PICK UP
          a(href="#feature") FEATURE
          a(href="#contact") CONTACT
      ul.nav-snsMenu
        li
          a(href="https://twitter.com/" target="_blank") Twitter
          a(href="https://www.facebook.com/" target="_blank") facebook
          a(href="https://www.instagram.com/" target="_blank") instagram 

