html {
    font-size: 100%;
}

li {
    list-style: none;
}

.cafe {
    font-family: Helvetica Neue、Arial、Hiragino Sans、Hiragino Kaku Gothic ProN、Meiryo、sans-serif;
    color: #ffffff;

    #header {
        height: 100vh;
        background-image: url('../img/img_cafe_mainvisual.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 40px 60px;
        margin-bottom: 20px;
        position: relative;

        ul {
            display: flex;
            float: right;

            li {
                margin-left: 60px;

                a {
                    font-size: 20px;
                    font-weight: bold;
                    color: #ffffff;
                    text-decoration: none;
                    text-shadow:
                      0 1px #bbb,
                      0 2px #aaa,
                      0 3px #999,
                }
            }
        }

        .main-title {
            font-size: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .menu {
        .menu-image {
            height: 300px;
            background-image: url('../img/img_cafe_menu.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;

            .section-title {
                font-size: 50px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .mainContainer {
            max-width: 1000px;
            margin: 0 auto;
            padding: 100px 0;

            .menu-item {
                color: #000000;
                width: 50%;
                padding: 0 50px;
                text-align: center;

                &:first-child {
                    border-right: solid 1px #000000;
                }

                .menu-title {
                    display: inline-block;
                    font-size: 30px;
                    color: #000000;
                    border-bottom: solid 3px #e03131;
                    margin-bottom: 50px;
                }

                dl {
                    display: flex;
                    flex-wrap: wrap;

                    dt {
                        width: 80%;
                        border-bottom: 1px dotted #000000; //点線の表示
                        text-align: left;
                    }

                    dd {
                        width: 20%;
                        text-align: right;
                    }
                }
            }
        }
    }
}