html {
  font-size: 100%;
}
  
li {
  list-style: none;
}

.media {
  #header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    position: fixed;
    z-index: 10;
    background-color: #fff;
  }
}

